@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

.wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    animation: appear 0.4s;
}

.container {
    margin: 20px auto !important;
    font-size: large;
    margin:20px;
    background-color: rgb(21, 25, 33);
    width: 40%;
    padding:20px 12px;
    padding-top: 0;
    border-radius: 10px;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
}

.topbar {
    display: flex;
    padding:12px 8px;
    padding-bottom: 8px;
    margin-bottom: 14px ;
    justify-content: end;
    border-bottom: 1px solid rgb(42, 49, 62);
}

.topbar p, .topbar:first-child {
    vertical-align: top;
}

.topbar p {
    margin: 0 auto 0 0 !important;
}

.topbar svg {
    margin: 4px;
}

.container input,textarea {
    display: block;
    padding: 8px 12px;
    font-size: large;
    width: 90%;
    margin: 10px auto;
    position: relative;
    background-color: transparent;
    color: whitesmoke;
    outline: none;
    border: none;
    font-family: 'JetBrains Mono',monospace;
}

textarea {
    resize: vertical;
}

label {
    padding: 12px;
    color:yellowgreen;
}

.container form:first-child {
    margin-top: 12px !important;
}

label::after {
    content: '~$';
    color: pink;
}

.submitbtn {
    color:blue;
    font-family: 'JetBrains Mono',monospace;
    font-size: large;
    padding: 12px;
    background-color: transparent;
    outline: none;
    border: 1px solid rgb(42, 49, 62);
    border-radius: 5px;
    margin: 4px auto;
    width: 100%;
}

.submitbtn:hover {
    text-decoration: underline;
    border-color: rgb(7, 7, 172);
}

@media  screen and (max-width:1200px) {
    .container {
        width: 50%;
    }
    .othercontainer {
        width: 50%;
    }
    .othercontainer h1 {
        font-size: 30px;
    }
}

@media screen and (max-width:1000px) {
    .container {
        width: 90%;
        margin: 20px auto;
    }
    .wrapper {
        display: block;
        margin-top: 60px;
    }
    .othercontainer {
        box-sizing: border-box;
        width: 90% !important;
        padding: 50px !important;
        margin-bottom: 30px !important;
    }
}

@media screen and (max-width:600px) {
    .othercontainer {
        font-size: 16px;
        padding: 12px 8px;
    }
}


.othercontainer {
    margin:auto;
    font-size: large;
    text-align: center;
    vertical-align: top;
    width: 40%;
    padding:20px;
    background-color: royalblue;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}
/*
.othercontainer span {
    font-style:oblique;
}*/

.yellow {
    color:yellow;
}
.red {
    color: rgba(164, 1, 1, 0.797);
}
.blue {
    color: rgb(0, 0, 183);
}
.green {
    color:yellowgreen;
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}